.navigationBar {
  color: white;
}

.linkStyle:hover {
  background-color: #c4c4c433;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  padding: 4px 5px 4px 5px;
}

.popover {
  transition: background 0.5s ease;
}
